$bgColor: rgb(52, 60, 73);
$hoverColor: rgb(72, 84, 102);
$lightBlue:#06e1cd;
$midBlue: #15c1d9;
$darkBlue: #279de6;
$horizontalGradient: linear-gradient(90deg, rgba(6,225,205,1) 0%, rgba(21,193,217,1) 50%, rgba(39,157,230,1) 100%);

.app-wrapper {
    overflow: hidden;
}

.content {
    // background-image: url('./assets/images/appbg.jpg');
    // background-size: cover;
}

.screen-wrapper {
    padding: 15px;
    opacity: 0.95;
}

.card {
    max-height: calc(92vh - 30px);
    overflow: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.content {
    height: 92vh;
    overflow-x: hidden;
}

.pad-around {
    padding: 0 15px;
}

.full-height {
    height: 100%;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.4);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    font-weight: 600;
    &-primary {
        // background: linear-gradient($lightBlue 0%, $darkBlue 100%);
        &:hover {
            // background-color: $hoverColor;
            border-color: $bgColor;
        }
    }
}

.border-div {
    height: 5px;
    background: $horizontalGradient;
    margin: 15px 0;
}

.table-bordered td,
.table-bordered thead th {
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .login-container {
        display: none;
    }

    .sidebar-wrapper {
        width: 50vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: -50%;
        transition: all 0.75s ease;
        &.show {
            right: 0;
        }
  
        .sidebar-header {
            height: 8vh;
            display: flex;
            padding: 0.5rem;
            background: white;
            .sidebar-btn {
              font-size: 2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              color: $bgColor;
            }
        }
        .sidebar-body {
            background: $bgColor;
            height: 92vh;
            .flex.pointer {
                flex-direction: column;
            }
            .login-item {
              padding: 0 15px;
              font-size: 1.2rem;
              font-weight: 500;
              height: 5vh;
              width: 100%;
              &:hover {
                  background: $hoverColor;
              }
          }
        }
    }
  }

  @media only screen and (min-width: 769px) {
    .sidebar-wrapper,
    .sidebar-btn {
        display: none;
    }
  }

  svg {
      margin-right: 10px;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }


::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: $darkBlue;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.lightblue {
    color: $midBlue;
}